
.nav-list {
    background-color: plum;
}


.main-content {
    background-color: blueviolet;
}


.main-uwm {
    background-color: yellow;
}


.academics-section {
    background-color: lightgray;
}


.research-section {
    background-color: lightgray;
}


.entrepreneurship-section {
    background-color: lightgray;
}


.nav-footer {
    background-color: lightyellow;
}


.nav-header {
    background-color: lightyellow;
}